<div class=" text-image in-hero">
    <div class="in-heroimg"><img src="https://res.cloudinary.com/pmpartner/image/upload/c_fill,w_1440,h_468,f_auto,q_auto:low/db401acd1296ba858385cfacc906a760"></div>
    <div class="in-herocard">
        <h2 class="in-hero-heading">Get in touch</h2>
        <div class="in-heroetext">
          <p>Contact Place Marketing Partners to talk about your project and find out more about our place marketing services.</p>
          <p class="easy-contacts"><span class="email-icon"><a href="email:hello@place-marketing.com">hello@place-marketing.com</a></span><span class="phone-icon"><a href="tel:07757 305007">07757 305007</a></span></p>
        </div>            
    </div>
</div>