<section id="challenge" class="challenge">
    <div class="text-image">
        <div  class="text-image-right-img" style="position:relative;">
          <img loading="lazy" class="base-image" src="https://res.cloudinary.com/pmpartner/image/upload/w_900,h_600,f_auto,q_auto:low/diamond-su"/>              
        </div>            
        <div class="text-image-card right">
          <div class="text-image-card-content">
            <h3 class="text-image-card-head">{{ .Params.partners.heading }}</h3>
            {{ .Params.partners.text | markdownify }}
            {{ $counter := 0 }}
              
            {{ range .Params.partners.partner  }}
            {{ $counter = add $counter 1 }}
              <input type="checkbox" id="partner-{{ $counter }}" class="toggle-checkbox">
               <div class="drawer">
              
                 <label for="partner-{{ $counter }}" class="link"><div class="arrow"><svg width="14" height="14" viewBox="0 0 14 14" fill="#522926" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 14V8H0V6H6V0H8V6H14V8H8V14H6Z" fill="#522926"/>
                  </svg></div><div>{{ .name }}</div></label>
              
                 <div class="solutiontext">{{ .text }}</div>
               </div>
             {{ end }}  
          </div>
        </div>
    </div>
</section>