<div class=" text-image in-hero">
  <div class="in-heroimg"><img loading="lazy" src="https://res.cloudinary.com/pmpartner/image/upload/w_1440,h_506/horizontal_zhk9mo.jpg"></div>
  <div class="in-herocard" style="background-color: var(--Brand-Brown);color:white;">
      <h2 class="in-hero-heading">Consulting Call</h2>
      <div class="in-heroetext">
        <p>Talk with our Place Marketing team about your project.</p>
        <p class="easy-contacts"><span class="email-icon">hello@place-marketing.com</span><span class="phone-icon">07757 305007</span></p>
      </div>            
  </div>
</div>