<section id="cookies" class="cookies">
    <div style="margin: 1.5rem"> 
        <h3 id="cookies">Cookies</h3>
        <h3 id="cookie-usage-on-place-marketing.com">Cookie Usage on <a href="http://place-marketing.com">place-marketing.com</a></h3>
        <p>At <a href="http://place-marketing.com">place-marketing.com</a> we use cookies related to google analytics and to cloudflare security. We do not collect or store data in cookies that could be used to identify you personally.</p>
        <p><strong>_ga and _gat</strong><br>
        These cookie names are asssociated with Google Universal Analytics - which is a significant update to Google’s more commonly used analytics service. The new service reduces the reliance on cookies in general, and only sets these two, although Google also say data can be collected without setting any cookies. This cookie is used to distinguishes unique users by assigning a randomly generated number as a client identifier. It is included in each page request in a site and used to calculate visitor, session and campaign data for the sites analytics reports. By default it is set to expire after 2 years, although this is customisable by website owners.</p>
        <p>The main purpose of these cookies is: <strong>Performance</strong></p>
        <p><strong>_cfuid</strong></p>
        <p>This cookie is assoiated with sites using CloudFlare, used to speed up page load times. According to CloudFlare it is used to override any security restrictions based on the IP address the visitor is coming from. It does not contain any user identification information.</p>
        <p>The main purpose of this cookie is: <strong>Strictly Necessary</strong></p>
    </div>
    
  </section>    
{{ partial "cta.html" . }}