<section class="cta-section text-image">
  <div class="ctabg"></div><!-- the background-->

    <div class="intro">
      <h2 class="heading white">Unlock your<br><span class="orange">Place Marketing</span><br>potential.</h2>
      
      
    </div>
    <div class="action">  
      <p>In your free 40 minute online consultation we'll help you to:</p>      
      <ul class="reasons">
         <li>Identify and understand your target audiences</li>
         <li>Define your place marketing goals</li>
         <li>Develop your results-focused place marketing strategy</li>
      </ul>
      
      <a href="/consultation"><button class="btnCTA btn-orange">Book your free online consultation now.</button></a>          
    </div>
   
</section>