<div class="header">
    <nav>
      <a href="/">
        <img class="logo" src="/images/logo-sml.svg" alt="Place Marketing Partners logo, click to return to home page."/>
      </a>
        <input type="checkbox" id="menu-toggle" style="display: none;">
        <ul class="pagelinks">
            <li class="navigation-link"><a href="/about">About us</a></li>
            <li class="navigation-link"><a href="/insights">Insights</a></li>
        </ul>
        <button id="getintouch" class="btn btn-orange navigation-link brown"><a href="/contact">Get in touch</a></button>
    
        <label for="menu-toggle" id="menu" class="btn btn-brown navigation-link"><span id="menutext"></span> <img src="/icons/hamburger.svg" class="btn-icon" alt="Display Mobile Menu Button" /></label>
    </nav>
</div>