<section class="text-image process-section ">
  <div class="process">  </div><!-- the background-->
  <div class="intro">
    <h3 class="heading orange">Achieving your place marketing goals.</h3>
    <p>Working with you we can build your place identity, attract your target audiences, and boost your marketing ROI. Together, we'll make successful place marketing simpler than you ever thought it could be.</p>
  </div>
  <div class="content">
    <div class="cards">
        <div class="card">
          <div class="card-content">
            <h4>Strategy</h4>
            <p>Our focused, strategic approach creates clarity out of complexity, to achieve defined place marketing goals.&nbsp;</p>
          </div>
            <img class="a first" src="" alt="Strategy">
        </div>
        <div class="card">
          <div class="card-content">
            <h4>Expertise</h4>
            <p>We integrate creative and data-driven place marketing techniques, to influence the hearts and minds of very different target audiences.</p>
          </div>
            <img class="a second" src="" alt="Expertise">
        </div>
        <div class="card">
          <div class="card-content">
            <h4>Performance</h4>
            <p>We focus on measurable results, so you can monitor, demonstrate and continually improve your place marketing performance.</p>
          </div>
            <img class="a third" src="" alt="Performance">
        </div>
    </div>
    <a href="/consultation"><button class="btnCTA btn-orange">{{ .Params.process.buttontext}}</button></a>
  </div>
  
</section>